@font-face {
    font-family: 'PTSans';
    src: url('./PTSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'PTSans';
}